body{
    margin: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:#40514E;
}
h1{
    font-family: 'Rammetto One', cursive;
    font-size: 60px;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    margin-top: 70px;
}
h2{
    color: #66BFBF;
    font-weight: bold;
}
h3{
    color: #11999E;
}

hr{
    border: #EAF6F6 dotted 5px;
    border-bottom: none;
    width: 3%;
    margin: 100px auto;
}
a{
    color: white;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: grey;
}


p{
    font-weight: bold;
}
.top-container{
    line-height: 1;
    background-color: #4B79A1;
    background: linear-gradient(to top, #283E51, #0A2342);
    position: relative;
    padding-top: 70px;
    height: 550px;
    text-align: center;
}

.stars{
    position:absolute;
    top:100px;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
}

.bar{
    padding-top:20px;
    height: 50px;
    width: 100%;
}


html {
    scroll-behavior: smooth;
}

.arrow{
    height: 130%;
    width: 2px;
    position: absolute;
    left: 50%;
    background-color: rgb(94, 94, 94);
}



.container-left{
    margin-left: 25%;
}

.container-right{
    margin-left: 55%;
}


.content{
    background-color: #1A3337;
    width: 250px;
    height: 200px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}


.middle-container{
    margin: 50px 0;
    
}
.propic{
    width:200px;
    height:200px;
}

.bottom-container{
    background-color: #016370 ;
    margin-top: 50px;
    padding: 50px 0 20px;
}
.sub1{
    text-align: center;
    color: #fff;
}

.Skill-row{
    display: inline-block;

}

.imgskill{
    width: 70px;
    height: 70px;
    margin: 80px;
    margin-bottom: 10px;
}

.Ielts{
    font-size: 60px;
    margin:0;
    text-align: left;
    color: Red;

}

.copyright{
    color: #EAF6F6;
    font: 0.756rem;
    padding: 20px 0;
}


